body {
    background-color: #115413;
  }
  
  header {
    text-align: center;
    padding:16px;
  }
  
  #dragon {
    width: 100px;
    height: auto;
  }
  
  h1 {
    color: #000000;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
  }
  
  p {
    color:#000000;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  
  #text {
    background-color: #E8EB1C;
    color: #000000;
    padding: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #0a0a23;
    border-top-style: none
  }
  
  #game {
    max-width: 500px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
    border-radius: 4px; 
  }
  
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    border-radius: 4px 4px 0px 0px;
    border-bottom-style: none;
  }
  
  #controls{
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
  }
  
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    border-top-style: none;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    border-radius: 4px;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 2px;
  }